/* MakePage.css */
.make-container {
    text-align: center;
    padding: 20px;
  }
  
  .navbar {
    width: 100%;
    background-color: #f0f8ff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .navbar .menu {
    display: flex;
  }
  
  .navbar .menu-item {
    color: #333;
    margin-left: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
  }
  
  .navbar .menu-item.disabled {
    color: #aaa;
    cursor: not-allowed;
  }
  
  .search-bar {
    margin: 80px 0 20px 0; /* 탑바와의 간격을 위한 마진 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 50%;
  }
  
  .search-bar button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .character-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
  }
  
  .character-box {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #b3e5fc;
    border-radius: 10px;
    background-color: #e1f5fe;
    cursor: pointer;
  }
  
  .character-box img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .character-box p {
    margin: 0;
    font-size: 1rem;
  }
  
  .character-box.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .add-character .plus-sign {
    font-size: 2rem;
    color: #0288d1;
  }
  